<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

  <div class="hero min-h-screen" style="background-image: url(https://static.vecteezy.com/system/resources/previews/008/255/804/original/page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-graffiti-sprayed-page-not-found-error-404-isolated-on-white-background-vector.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold ">Error</h1>
        <p class="mb-5"><%= message %></p>
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </div>

</body>

</html>