<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/about'}) %>
  <div class="container mx-auto">
    <div class="hero bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">All about me</p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2  gap-4 mt-3">
      <div>
        <img class="w-full rounded-lg" src="/img1.jpeg" alt="profile">
      </div>
      <div class="prose">

        <p class="text-xl">I'm Varnita Panwar, an international student from India.</p>

        <p>I'm studying computer programming at Seneca College's Newnham campus in North York, Toronto. I'm passionate about technology and eager to learn. In my free time, I enjoy exploring new places and meeting people. I'm excited about the opportunities ahead and the chance to make new friends along the way.</p>

      </div>
    </div>
  </div>

</body>

</html>